@{
    ViewBag.Title = "ArticleHelp";
}
    <p>
        播放FLASH的html
    </p>
    <p>
        <pre>
        &lt;object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="900px" height="600px" style="margin: auto"&gt;
            &lt;param name="movie" value="source/open.swf"&gt;
            &lt;param name="quality" value="high"&gt;
            &lt;param name="wmode" value="transparent"&gt;
            &lt;embed src="source/open.swf" width="900px" height="600" style="margin: auto" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" wmode="transparent"&gt;
        &lt;/object&gt;
        </pre>
    </p>

    <p>
        插入背景音乐的代码：
    </p>
    <p>
        <pre>
            &lt;embed src="/pour-time/img/nuanuande.mp3" hidden="true" autostart="true" loop="true"&gt;
            </pre>
    </p>
